# Python / venv / cache
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

# macOS
.DS_Store

# DuckDB warehouse lokal
warehouse_local/

# Semua data mentah di data/, kecuali hasil turunan jika perlu
data/*
!data/derived/
# Jika ingin ikutkan hasil turunan:
# !data/derived/*.csv

# Folder publish berisi artefak yang akan dipublikasikan
# (kita izinkan CSV saja)
publish/*
!publish/*.csv
job.log
site/
docs/pages/
